/* Global styles */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

/* Blog post titles */
h1,
h2 {
    font-size: 1.8em;
    color: #333;
    text-align: center;
    margin: 1rem 0;
    padding: 0.5rem;
}

/* Blog post sections */
section {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem auto;
    max-width: 800px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



nav ul li a {
    text-decoration: none;
    color: #007BFF;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #0056b3;
}